<div class="download-area  download-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 ml-auto mr-auto">
                <div class="section-title text-black">
                    <h2>Download our app</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, fugiat, accusamus! Consequatur
                        suscipit
                        numquam cumque.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="download-buttons text-center">
                    <a href="#" class="button"> <i class="fa fa-apple"></i> APP STORE</a>
                    <a href="#" class="button"><i class="fa fa-android"></i>PLAY STORE</a>
                    <a href="#" class="button"><i class="fa fa-windows"></i>PLAY STORE</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Download Area End  -->

<!-- Contact Area Start -->
<div id="contact" class="contact-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact-info-container wow fadeInBottom" data-wow-duration="1s">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="contact-title">
                                <h2>Contact Us</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit dolores ad
                                    molestiae rem
                                    repudiandae modi, quisquam illum hic euorem ipsum dolor sit amet, consectetur
                                    adipisicing elit.
                                    Iusto sit accusamus</p>
                            </div>
                            <div class="contact-address">
                                <ul>
                                    <li><i class="fa fa-phone"></i> <span class="information">(977) 324 644 676 / (800)
                                            123 456
                                            789</span></li>
                                    <li><i class="fa fa-envelope-o"></i> <span class="information"><a
                                                href="#">admin@power-boosts.com</a></span></li>
                                    <li><i class="fa fa-map-o"></i> <span class="information">No 40 Baria Sreet 133/2
                                            New York City,
                                            NY,<br> United States</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <form class="contact-form-area" action="mail.php" method="post" id="contact-form">
                                <div class="row contact-form">
                                    <div class="form-group col-md-12">
                                        <input name="name" class="form-control" placeholder="Name" type="text"
                                            id="name">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <input name="email" class="form-control" placeholder="Email" type="email"
                                            id="email">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <input name="subject" class="form-control" placeholder="Subject" type="text"
                                            id="subject">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <textarea name="message" class="yourmessage form-control"
                                            placeholder="Message"></textarea>
                                    </div>
                                    <div class="submit-form form-group col-sm-12">
                                        <button class="button submit-btn" type="submit"><span>Submit</span></button>
                                        <p class="form-messege"></p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact Area End -->

<!-- Footer Area Start -->
<footer class="footer-area">
    <div class="footer-content-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-content">
                        <div class="footer-logo">
                            <a href="index.html"><img src="assets/images/logo/logo.png" alt=""></a>
                        </div>
                        <p>Copyright © 2019 HasTech. All Rights Reserved</p>
                        <div class="social-link">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>