<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">TSS</a>
  
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="employee">Employee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="users">Users</a>
        </li>
        <ng-template [ngIf]="_loginServ.isLoggedIn()" [ngIfElse]="cond" >
          <li class="nav-item">
            <a class="nav-link" routerLink="dashborad">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="_loginServ.logout()" style="cursor: pointer;" >Logout</a>
          </li>
        </ng-template>
        <ng-template #cond>
          <li class="nav-item">
            <a class="nav-link" routerLink="login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="signup">Signup</a>
          </li>
        </ng-template>
        
      </ul>
    </div>
  </nav>