<h1>this is help page</h1>

<!-- 
    PHP/Java/Other                      

    1. --------- (5sec)
    2. -------- (10sec)
    3. -----------(15sec)
    4. ---------(.001sec)

    Total Running : 37sec


    Javascript                     

    1. --------- (5sec)
    2. -------- (10sec)
    3. -----------(3sec) (callback)
    4. ---------(7sec)

    Total Run : Hig. Time : 15sec







 -->