<html>
    <body>
        <h2 align="center">Add Your Score</h2>
        <form action="/admin" method="post">
            <br />
            Inter Score <input type="Text" name="score"/>
            <Br />
            <Br />
            <Br />
            <input type="submit" value="Add" />
        </form>
    </body>
</html>
