<header class="header header-sticky">
    <!-- header-top start -->
    <div id="main-menu" class="header-top inner-header">
        <div class="container">
            <div class="row header-top-inner">
                <div class="col-lg-4">
                    <div class="logo">
                        <a href="index.html"><img src="assets/images/logo/logo-2.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="main-menu">
                        <nav class="main-navigation">
                            <ul>
                                <li class="active"><a routerLink="">Home</a></li>
                                <li class="smooth-scroll"><a href="#about">About</a></li>
                                <li><a href="#feature">Feature</a></li>
                                <li><a href="#pricing">Pricing</a></li>
                                <li><a href="#testimonial">Clients</a></li>
                                <li><a href="#screnshot">screenshot</a></li>
                                <li><a href="#contact">Contact</a></li>
                                <li><a routerLink="teacher">Teacher</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col">
                    <!-- mobile-menu start -->
                    <div class="mobile-menu d-block d-lg-none"></div>
                    <!-- mobile-menu end -->
                </div>
            </div>
        </div>
    </div>
    <!-- Header-top end -->
</header>
