<h2>header</h2>
<a routerLink="/stu">Home</a>
<a routerLink="/stu/help">Help</a>
<!-- www.xyz/stu/help -->

<router-outlet></router-outlet>
<h2>footer</h2>
<!-- 

    <p *ngIf   --- Dir
    <p [ngIf] --- Dir ---------- Att
    <ng-template> ---- Dir
    <input formControlName --- Dir -------- Att

            1. Attributarl Dir ---------- [], or without []
            2. Structural Dir ---------- *
                [*ngIf, *ngFor, *ngSwitchCase]
            3. Component Dir
    


    Pipes ------------- when we change or rep of any Data in View(html)
    
    Service --------- Global Logic which can use anywhare in Application
    
    Direcitves --------- change or rep any HTML Tag/Element

    <h2></h2>

 -->